In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random
import os

np.random.seed(42)

# Ustawienia generatora
NUM_TICKETS = 1000

ticket_ids = range(1001, 1001 + NUM_TICKETS)

start_date = datetime(2025, 1, 1)

created_dates = [
    start_date + timedelta(days=random.randint(0, 180))
    for _ in range(NUM_TICKETS)
]

priorities = ["Low", "Medium", "High", "Critical"]
categories = ["Network", "Hardware", "Software", "Access"]
teams = ["Service Desk", "Network Team", "Infrastructure Team", "Security Team"]

sla_mapping = {
    "Low": 72,
    "Medium": 48,
    "High": 24,
    "Critical": 8
}

priority_list = np.random.choice(priorities, NUM_TICKETS, p=[0.3, 0.4, 0.2, 0.1])
category_list = np.random.choice(categories, NUM_TICKETS)
assigned_teams = np.random.choice(teams, NUM_TICKETS)

sla_hours = [sla_mapping[p] for p in priority_list]

resolution_times = [
    max(1, int(np.random.normal(loc=sla, scale=sla * 0.4)))
    for sla in sla_hours
]

resolved_dates = [
    created_dates[i] + timedelta(hours=resolution_times[i])
    for i in range(NUM_TICKETS)
]

status = ["Closed"] * NUM_TICKETS

df = pd.DataFrame({
    "ticket_id": ticket_ids,
    "created_date": created_dates,
    "resolved_date": resolved_dates,
    "priority": priority_list,
    "category": category_list,
    "assigned_team": assigned_teams,
    "sla_hours": sla_hours,
    "resolution_time_hours": resolution_times,
    "status": status
})

# Create the 'data' directory if it doesn't exist
os.makedirs("data", exist_ok=True)

# Zapis do pliku CSV
df.to_csv("data/it_support_tickets.csv", index=False)

df.head()

,ticket_id,created_date,resolved_date,priority,category,assigned_team,sla_hours,resolution_time_hours,status
0,1001,2025-02-16,2025-02-17 07:00:00,Medium,Software,Security Team,48,31,Closed
1,1002,2025-06-15,2025-06-15 05:00:00,Critical,Access,Network Team,8,5,Closed
2,1003,2025-06-08,2025-06-08 21:00:00,High,Hardware,Network Team,24,21,Closed
3,1004,2025-06-25,2025-06-27 07:00:00,Medium,Access,Security Team,48,55,Closed
4,1005,2025-01-29,2025-02-02 02:00:00,Low,Access,Service Desk,72,98,Closed